server:
  port: 8081

spring:
  application:
    name: flexy-pool-sample
  datasource:
    initialization-mode: never
    hikari:
      pool-name: h2
      jdbc-url: jdbc:h2:mem:test-${random.int};DB_CLOSE_DELAY=-1
      username: sa
      password:
      maximum-pool-size: 10
