server:
  port: 8081

spring:
  application:
    name: flexy-pool-sample
  datasource:
    hikari:
      pool-name: h2
      jdbc-url: jdbc:h2:mem:test-${random.int};DB_CLOSE_DELAY=-1
      username: sa
      password:
      maximum-pool-size: 10
  sql:
    init:
      mode: never
decorator:
  datasource:
    flexy-pool:
      acquisition-strategy:
        retry:
          attempts: 3
        increment-pool:
          timeout-millis: 1000
          max-overgrow-pool-size: 15
      threshold:
        connection:
          acquire: 100
